
<header class="app-header">
    <button class="header-button" (click)="navigateTo('')">Patient Form</button>
    <button class="header-button" (click)="navigateTo('search')">Patient Search</button>
    <button class="header-button" (click)="navigateTo('ward-allocation')">Ward Allocation</button>
    <button class="header-button" (click)="navigateTo('transfer')">Patient Transfer</button>
    <button class="header-button" (click)="navigateTo('final-outcome')">Final Outcome</button>
  </header>
  