<p>patient-form works!</p>
<div class="container">

    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Patient Name:</label>
            <input id="name" formControlName="name" type="text" />
        </div>
        <div>
            <label for="dob">Date of Birth:</label>
            <input id="dob" formControlName="dob" type="date" />
        </div>
        <div>
        <label for="gender">Gender:</label>
        <select id="gender" formControlName="gender">
          <option value="" disabled>Select Gender</option>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
          <option value="Other">Other</option>
        </select>
        </div>
        <div>
            <label for="medicalConditions">Medical Conditions:</label>
            <textarea id="medicalConditions" formControlName="medicalConditions"></textarea>
        </div>
        <button type="submit" [disabled]="patientForm.invalid">Submit</button>
  
    </form>
</div>